html {
  font-size: 14px;
}

body {
  font-family: Helvetica;
  line-height: 1.5;
}

i {
  font-style: italic;
}

ul {
  list-style: circle inside none;
}

img:hover {
  opacity: 0.8;
}

/* navbar styling */
.header-name {
  margin-right: 2rem;
}

/* jumbotron styling */
.jumbotron .container-fluid {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 40rem;
  justify-content: center;
}

.jumbotron h1 {
  font-family: 'Cinzel Decorative', serif;
  font-size: 7rem;
  margin-bottom: 3rem;
  text-align: center;
}

.jumbotron p {
  text-align: center;
}

/* projects section */
#projects {
  padding-bottom: 3rem;
}

#projects .projects-header {
  text-align: center;
}

#projects img {
  height: auto;
  width: 100%;
}

.prj-description {
  height: 9rem;
}

.prj-links {
  align-items: center;
  display: flex;
}

.prj-links a {
  margin: 1rem 2rem 0 0;
}

/* resume section */
#resume .resume-header {
  text-align: center;
}

#resume img {
  height: auto;
  width: 100%;
}

.education {
  background-color: grey;
  background-image: url("../images/tommy-trojan.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 3rem;
}

/* footer */
footer {
  align-items: center;
  background-color: lightgrey;
  display: flex;
  height: 8rem;
  justify-content: center;
  width: 100%;
}

footer span {
  color: grey;
}
