/* general styling */
html {
  font-size: 16px;
}

body {
  font-family: "Overpass", sans-serif;
  line-height: 1.5;
}

i {
  font-style: italic;
}

p,
span {
  font-size: 1rem;
}

ul {
  font-size: 1rem;
  list-style: circle inside none;
}

img:hover {
  opacity: 0.8;
}

/* navbar styling */
.header-name {
  margin-right: 2rem;
}

/* jumbotron styling */
.jumbotron {
  height: 35rem;
}

.jumbotron-scuba {
  background-image: url('../images/background-scuba.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.6;
}

.jumbotron-grad {
  background-image: url('../images/background-grad.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.6;
}

.jumbotron-sb {
  background-image: url('../images/background-sb.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.6;
}

.jumbotron-dsp {
  background-image: url('../images/background-dsp.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
}

.jumbotron-text {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 180px;
  left: 0;
  text-shadow: -1px -1px 1px white, 1px -1px 1px white, -1px 1px 1px white, 1px 1px 1px white;
  width: 100%;
  z-index: 20;
}

.jumbotron-text h1 {
  font-family: 'Expletus Sans', sans-serif;
  font-size: 6rem;
  margin-bottom: 3rem;
  text-align: center;
}

.jumbotron-text p {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

/* projects section */
#projects {
  padding-bottom: 3rem;
}

#projects .projects-header {
  text-align: center;
}

#projects h1 {
  font-size: 2.4rem;
  font-weight: bold;
}

#projects img {
  height: auto;
  width: 100%;
}

.codecademy-progression,
.codecademy-final {
  margin-bottom: 2rem;
}

.prj-description {
  border-top: 1px solid lightgrey;
  height: 13.5rem;
}

.prj-description span {
  display: block;
  margin-bottom: 2px;
}

.prj-links {
  align-items: center;
  border-top: 1px solid lightgrey;
  display: flex;
  justify-content: center;
}

.prj-links a {
  margin: 1rem 2rem 0 0;
}

/* resume section */
#resume .resume-header {
  border-top: 2px solid lightgrey;
  padding-top: 2rem;
  text-align: center;
}

#resume h1 {
  font-size: 2.4rem;
  font-weight: bold;
}

#resume img {
  height: auto;
  width: 100%;
}

.work-exp {
  padding-bottom: 3rem;
}

.education {
  background-color: grey;
  background-image: url("../images/tommy-trojan.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 3rem;
}

/* footer */
footer {
  align-items: center;
  background-color: lightgrey;
  border-top: 1px solid grey;
  display: flex;
  height: 8rem;
  justify-content: center;
  width: 100%;
}

footer span {
  color: grey;
}
